<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Restaurant</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='macros.css', _external=True) }}"/>
    {% import "macros.html" as macros %}
</head>
<body onload="clearForm()">
<script src="{{ url_for('static', filename='add_restaurant.js', _external=True) }}"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.5.2.js"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='add.css', _external=True) }}"/>

{{ macros.build_side_bar(pages=pages, selected="Add a Restaurant",user=user) }}
<div id="main">
    <h1>Add a Restaurant</h1>
    <form action="/submit-restaurant/" method="post">
        <input type="text" name="Name" placeholder="Name of Restaurant" id="name"><br/><br/>
        <input type="text" name="Address" placeholder="Address" id="address">
        <h3>Restaurant Category</h3>
        <div id="checkboxes">
            {% for category in categories %}
                <input type="radio" name="category" value={{ category }}>
                <label for={{ category }}>{{ category }}</label>
                <br/>
            {% endfor %}
        </div>
        <button id="submit">Add Restaurant</button>
        <br/>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='radio']").click(function () {
                let radioValue = $("input[id='other']:checked").val();
                if (radioValue) {
                    document.getElementById("other_explained").hidden = false
                } else {
                    document.getElementById("other_explained").hidden = true
                }
            });
        });
    </script>
</div>
</body>
</html>