<!DOCTYPE html>
<html>
<head>

    <title>Login</title>
<script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
    <script src="../static/login.js"></script>

    <script type="text/javascript">
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $(function() {
        $('form').submit(function() {
            $('#result').text(JSON.stringify($('form').serializeObject()));
            return false;
        });
    });
    </script>

</head>
<body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-auth.js"></script>


<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBZACZLKa0IIxE3tc6hpHoOY0p0VHSdHTY",
    authDomain: "apt-line-picker.firebaseapp.com",
    databaseURL: "https://apt-line-picker.firebaseio.com",
    projectId: "apt-line-picker",
    storageBucket: "apt-line-picker.appspot.com",
    messagingSenderId: "414582689858",
    appId: "1:414582689858:web:463b5fb462cdd7caab5ddb",
    measurementId: "G-LHR5NRBSWP"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
<h1>Login to LineChecker</h1>

<div id="firebaseui-auth-container"></div>

<button id="sign-out" hidden=true>Sign Out</button>

{#<div id="login-info" hidden=true>#}
{#  <h2>Login info:</h2>#}
{#  {% if user_data %}#}
{#    <dl>#}
{#      <dt>Name</dt><dd>{{ user_data['name'] }}</dd>#}
{#      <dt>Email</dt><dd>{{ user_data['email'] }}</dd>#}
{#      <dt>Last 10 visits</dt><dd>#}
{#        {% for time in times %}#}
{#          <p>{{ time['timestamp'] }}</p>#}
{#        {% endfor %} </dd>#}
{#    </dl>#}
{#  {% elif error_message %}#}
{#    <p>Error: {{ error_message }}</p>#}
{#  {% endif %}#}
{#</div>#}
{#<form action="/login" method="POST">#}
{##}
{#    <div>#}
{#        <label for="userid">User ID</label>#}
{#        <input name="userid" id="userid" type="text">#}
{#    </div>#}
{##}
{#    <div>#}
{#        <label for="password">Password</label>#}
{#        <input name="password" id="password" type="text">#}
{#    </div>#}
{#    <p>#}
{#        <input type="Submit" value="Submit"/>#}
{#    </p>#}
{#</form>#}

<pre id="result"></pre>

</body>
</html>