<!DOCTYPE html>
<html>
<head>

    <title>Login</title>

    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.5.2.js"></script> -->

    <script type="text/javascript">
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $(function() {
        $('form').submit(function() {
            $('#result').text(JSON.stringify($('form').serializeObject()));
            return false;
        });
    });
    </script>

</head>
<body>
<h1>Login to LineChecker</h1>
<form action="http://localhost:5000/login" method="POST">

    <div>
        <label for="userid">User ID</label>
        <input name="userid" id="userid" type="text">
    </div>

    <div>
        <label for="password">Password</label>
        <input name="password" id="password" type="text">
    </div>
    <p>
        <input type="Submit" value="Submit"/>
    </p>
</form>

<pre id="result"></pre>

</body>
</html>