

{% macro build_site_navigation(pages, selected, user) %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='macros.css') }}"/>
<div id="sidenav">
    {% if user %}
        <h2>{{ user}}</h2>
    {% endif %}
    <div>
        {% for page in pages %}
        <a href="{{page.url}}">
            <li class="text-lg pl-6 py-3 {% if selected == page.name %}border-l-4 bg-gray-200{% endif %}">{{page.name}}</li>
        </a>
        {% endfor %}
    </div>
</div>
{% endmacro %}