<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="{{ url_for('static', filename='restaurant.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='restaurant.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='macros.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% import "macros.html" as macros %}
</head>
<body>
{{macros.build_site_navigation(pages=pages, selected="Restaurant",user=user)}}
<div id="main">
    {% if restaurant %}
        <h1>{{ restaurant['name'] }}, {{ restaurant['address'] }}</h1>
    {% endif %}
    <div id="body">

        <br/><br/>
        <div class="carousel">
            {% if restaurant['images'] %}
                {% for image in restaurant['images'] %}
                    <a class="carousel-item" href="#one!"><img src={{ image }}></a>
                {% endfor %}
            {% endif %}

        </div>
        <div id="wait_times">
            <div id="scrollit">
                <table>
                    <thead>
                    <th>Wait Time</th>
                    <th>Reported</th>
                    <th>Reported By</th>
                    </thead>
                    {% if wait_times %}
                        {% for time, date, user in wait_times %}
                            <tr>
                                <td>{{ time }}</td>
                                <td>{{ date }}</td>
                                <td>{{ user }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No Wait times have been submitted, add yours!</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <br/><br/>
            <button id="submit_wait">Submit Wait Time</button>

        </div>
        <div id="submit_image">
            <form method="post" action="/restaurant/submit-image">
                <input type="hidden" name="Id" value={{ restaurant['id'] }}>
                Submit an image (url)<br/>
                <input type="text" name="url" id="image_submission"><br/>
                <button id="submit">Submit</button>
            </form>
        </div>
    </div>

    <div id="Reviews">
        Reviews
        <br/>
        bleh
        <br/>
        i don't even like tacos
        <br/>
        <br/>
    </div>
    <button>Submit your Review</button>
    <br/>
    <br/>
    <button id="back">back</button>
</div>

<!-- Modal -->
<div id="myModal" class="modal">

    <div id="modalContent" class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Submit Wait</h2>
        </div>
        <div class="modal-body">
            <form action="/restaurant/submit-time" method="post">
                <p>{{ restaurant['name'] }} <br/>
                    {{ restaurant['address'] }}</p>
                <p>How long was the wait? (in minutes)</p>
                <input type="hidden" name="Id" value={{ restaurant['id'] }}>
                <input type="number" name="wait" min="0" max="199"><br/>
                <button id="submit">Submit</button>
            </form>
        </div>
        <div id="footer" class="modal-footer">

        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='modal.js') }}"></script>
</body>
</html>